<div class="view" v-transition>
    <app-header title='{{ title }}' msg='{{ msg }}'></app-header>
    <div class="content">
        <nav class="menu" data-toggle="menu" style="width: 200px">
            <!-- <button class="btn btn-primary"><i class="icon-edit"></i> CREATE</button> -->
            <!-- <button class="btn"><i class="icon-cloud-upload"></i> UPLOAD</button> -->
            <ul class="nav nav-primary">
                <li class="active"><a href="#"><i class="icon-th"></i> Dashboard</a></li>
                <li><a href="#"><i class="icon-user"></i> Me</a></li>
                <li>
                    <a href="javascript:;"><i class="icon-time"></i> Time</a>
                    <ul class="nav">
                        <li><a href="#">Today</a></li>
                        <li><a href="#">Tomarrow</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="icon-list-ul"></i> All</a></li>
                <li class="active show">
                    <a href="#"><i class="icon-tasks"></i> Status</a>
                    <ul class="nav">
                        <li><a href="#"><i class="icon-circle-blank"></i> Ready</a></li>
                        <li class=""><a href="#"><i class="icon-play-sign"></i> Ongoing</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
